[include]
    path = ~/.gitconfig.local

[color]
    ui = true

[alias]
    l  = log
    st = status
    df = diff
    co = checkout
    cm = commit
    br = branch
    ps = push
    pl = pull
    sw = switch
